* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito';font-size: 22px;
}

.header {
    width: 320px;
    height: 100px;
    background-color: blue;
}

.body {
    width: 320px;
    height: 1000px;
    background-color: white;
}